TESTAG/Workflows/Button-GetlistsGetroomlistsV2ListmytasksListchanne-139F141A-02EA-EB11-BACB-000D3AB89D04.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr5a2_sharedsharepointonline_f93a3"},"api":{"name":"shared_sharepointonline"}},"shared_office365":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr5a2_sharedoffice365_1a21f"},"api":{"name":"shared_office365"}},"shared_planner":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr5a2_sharedplanner_a15b1"},"api":{"name":"shared_planner"}},"shared_teams":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr5a2_sharedteams_12b01"},"api":{"name":"shared_teams"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_lists":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetTables","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://volvogroup.sharepoint.com/sites/coll-citizen-development"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_room_lists_(V2)":{"runAfter":{"Get_lists":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"GetRoomLists_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_my_tasks":{"runAfter":{"Get_room_lists_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_planner","operationId":"ListMyTasks_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_planner"},"parameters":{},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_channels":{"runAfter":{"List_my_tasks":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"GetChannelsForGroup","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"groupId":"7e51ae22-f74d-4685-b650-5e3c821013de"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}